beautifulsoup4==4.6.3
bs4==0.0.1
cached-property==1.4.3
certifi==2018.11.29
chardet==3.0.4
frozendict==1.2
genanki==0.6.0
idna==2.8
Pillow==8.1.1
pystache==0.5.4
pyyaml>=4.2b1
requests==2.21.0
urllib3==1.24.2
